/* components.css */

/* Основные стили для кнопок */
.btn-primary {
  background-color: var(--accent-primary);
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background-color: var(--accent-primary-hover);
  color: var(--text-secondary);
}

.btn-primary:focus, .btn-primary:active {
  background-color: var(--accent-primary-hover);
  color: var(--text-secondary);
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.5);
}

/* Основные стили для карточек */
.card {
  background-color: var(--background-card);
  border: 1px solid var(--border-card);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.card .card-title {
  color: var(--text-primary);
  font-family: var(--font-family-body);
}

.card .card-text {
  color: var(--text-secondary);
  font-family: var(--font-family-body);
}

/* Пример использования градиентов */
.bg-gradient-silver {
  background: var(--gradient-silver);
}

.bg-gradient-league {
  background: var(--gradient-league);
}

.bg-gradient-bronze {
  background: var(--gradient-bronze);
}

.bg-gradient-gold {
  background: var(--gradient-gold);
}

/* Пример использования системных цветов */
.text-negative {
  color: var(--system-negative);
}

.text-positive {
  color: var(--system-positive);
}
