/* components.css */
/* Стиль для кнопок */
.btn {
  background-color: var(--accent-primary);
  color: var(--text-primary);
  padding: var(--space-2) var(--space-3);
  border: none;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  font-size: var(--font-size-2);
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: var(--accent-quaternary);
}

.btn:active {
  background-color: var(--accent-tertiary);
  transform: scale(0.98);
}

.btn:disabled {
  background-color: var(--gray-4);
  cursor: not-allowed;
}

.card {
  background-color: var(--background-card);
  border: 1px solid var(--border-card);
  border-radius: var(--space-2);
  padding: var(--space-3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
}

.card.dark-mode {
  background-color: var(--background-card);
  border-color: var(--border-card);
  color: var(--text-light);
}

